.login-popup-heading>h1 {
    /* color: #258b47; */
    /* font-size: 18px; */
    /* line-height: 30px; */
}
.new_reg_popup, .new_login_popup {
    border-radius: 2px;
    min-height: 332px;
    width: 270px;
    margin: 0px auto;
}
/* .login-popup-btn {
    background: #258b47;
    border: none;
    border-radius: 25px;
    color: #fff;
    display: block;
    font-size: 18px;
    height: 38px;
    line-height: 28px;
    margin: 20px auto 5px;
    width: 150px;
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
} */
a{
     color: #258b47;
     /* font-size: 18px; */
}

.logo {
     color: #343a40;
     text-decoration: none;
     /* font-size: 18px; */
}

.logo:hover{
     color: #fff;
     text-decoration: none;
     /* font-size: 18px; */
}

div#produtos_filter.dataTables_filter {
  float: right;
}

.paginate_button .page-item{
  border-color: #343a40;
}

.dataTables_paginate {
  border-color: #343a40;
}

.page-link {
    color: #343a40;
}

.page-item.active .page-link{
  background-color: #343a40; 
  border-color: #343a40;
}

/* #cc9933 */
